server:
  port: 8081
spring:
  application:
    name: store

  datasource:
    url: jdbc:mysql://localhost:3306/store?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: .....
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    open-in-view: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  flyway:
    baseline-on-migrate: true
